# Google App Engine generated folder
appengine-generated/
.idea/
.DS_Store
datanucleus.log
target/
xapi-gae-tools.iml
						 
/.classpath
/.project

module_xapi-gae-tools.xml
xapi-gae-tools.properties
xapi-gae-tools.xml
