# Google App Engine generated folder
appengine-generated/
.idea/
.DS_Store
datanucleus.log
target/
xapi-gae-tools.iml
						 
/.classpath
/.project

scripts/
module_xapi-gae-tools.xml
xapi-gae-tools.properties
xapi-gae-tools.xml
/.settings/
src/main/java/META-INF/configuration.properties
src/main/resources/META-INF/configuration.properties
src/main/webapp/WEB-INF/appengine-web.xml