<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>mapreduce</servlet-name>
        <servlet-class>
            com.google.appengine.tools.mapreduce.MapReduceServlet
        </servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CronStarter</servlet-name>
        <servlet-class>
            nl.welteninstituut.tel.la.importers.CronStarter
        </servlet-class>
    </servlet>

    <servlet>
        <servlet-name>BigQuerySync</servlet-name>
        <servlet-class>
            nl.welteninstituut.tel.la.servlets.BigQuerySyncServlet
        </servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>pipeline</servlet-name>
        <servlet-class>
            com.google.appengine.tools.pipeline.impl.servlets.PipelineServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>pipeline</servlet-name>
        <url-pattern>/_ah/pipeline/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mapreduce</servlet-name>
        <url-pattern>/mapreduce/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsyncTasksServlet</servlet-name>
        <url-pattern>/asyncTask</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CronStarter</servlet-name>
        <url-pattern>/importers</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BigQuerySync</servlet-name>
        <url-pattern>/syncBigQuery</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>xAPI Proxy Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>nl.welteninstituut.tel.la.rest</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>AsyncTasksServlet</servlet-name>
        <servlet-class>nl.welteninstituut.tel.la.servlets.AsyncTaskServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>OauthServlet</servlet-name>
        <servlet-class>nl.welteninstituut.tel.oauth.OauthServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>xAPI Proxy Service</servlet-name>
        <url-pattern>/data-proxy/*</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>Service Handler</servlet-name>
        <servlet-class>nl.welteninstituut.tel.la.servlets.ServicesServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Service Handler</servlet-name>
        <url-pattern>/handler</url-pattern>
    </servlet-mapping>

    
    
    <servlet-mapping>
        <servlet-name>OauthServlet</servlet-name>
        <url-pattern>/oauth/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>services</web-resource-name>
            <url-pattern>/services/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
